header.meurio_header
  font-size: 14px
  .row
    overflow: visible
  .meurio_logo_and_user_menu
    background: $green
    line-height: 35px
    .meurio_logo
      padding: 7px 0
      img
        float: left
    .user_menu
      text-align: right
      color: white
      position: relative
      padding: 7px 0
      .current_user
        line-height: 35px
        img
          width: 35px
          +border-radius(35px)
          vertical-align: middle
          margin-right: .5em
        .icon-triangle-down
          top: 6px
          position: relative
          margin-left: 1em
          cursor: pointer
      .current_user_links
        position: absolute
        top: 40px
        background: $green
        z-index: 1000
        right: 0
        display: none
        a
          display: block
          padding: 0 1em
          color: white

  .meurio_apps_and_application_menu
    line-height: 59px
    background: white
    .meurio_apps
      cursor: pointer
      position: relative
      overflow: visible
      padding: 10px 0
      font-size: 20px
      font-weight: bold
      a
        color: black
      .current_app
        img
          vertical-align: middle
          margin-right: .5em
          float: left
        span
          display: block
          float: left
        span.icon-arrow-box
          position: relative
          top: 19px
          margin-left: 1em
          color: #a7a8ac
          font-size: .9em
      .other_apps
        position: absolute
        background: white
        top: 79px
        z-index: 1000
        width: 640px
        padding: 1em
        display: none
        .meurio_app
          font-size: .7em
          font-weight: normal
          display: block
          color: black
          float: left
          width: 80px
          margin: 0 10px
          text-align: center
          line-height: normal
          span
            display: block
          img
            display: inline-block
            margin-bottom: .5em

    .application_menu
      text-align: right
      padding: 10px 0
      a
        display: inline-block
        margin-left: 1.5em
        font-size: 16px
        font-weight: bold
        color: black
        &.btn
          background: $orange
          color: white
          padding: .5em
          display: inline-block
          width: auto
          line-height: normal
          &:hover
            text-decoration: none
        &:hover
          text-decoration: underline

a.hollow_btn
  color: white
  border: 2px solid white
  padding: 5px 10px
  font-weight: bolder
  font-size: 14px
  +border-radius(3px)
  &:hover
    color: $green
    background: white

.clear
  clear: both
